@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-background-dark: #0a0a0a;
  --color-foreground-dark: #ededed;
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

.dark {
  --background: var(--color-background-dark);
  --foreground: var(--color-foreground-dark);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@utility text-balance {
  text-wrap: balance;
}
